{{- if .Values.channel.enabled -}}

apiVersion: {{ .Values.deployment.apiversion }}
kind: Deployment
metadata:
  name: "ph-ee-connector-channel"
  labels:
    app: ph-ee-connector-channel
spec:
  replicas: {{ .Values.channel.replicas }}
  selector:
    matchLabels:
      app: ph-ee-connector-channel
  template:
    metadata:
      labels:
        app: ph-ee-connector-channel
      annotations:
{{- if .Values.channel.deployment.annotations }}
{{ toYaml .Values.channel.deployment.annotations | indent 8 }}
{{- end }}
    spec:
      containers:
        - name: ph-ee-connector-channel
          image: "{{ .Values.channel.image }}:{{ .Values.channel.imageTag }}"
          ports:
            - containerPort: 8080
          imagePullPolicy: "{{ .Values.channel.imagePullPolicy }}"
          resources:
            limits:
              memory: "{{ .Values.channel.limits.memory }}"
              cpu: "{{ .Values.channel.limits.cpu }}"
            requests:
              memory: "{{ .Values.channel.requests.memory }}"
              cpu: "{{ .Values.channel.requests.cpu }}"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
          startupProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            failureThreshold: 30
            periodSeconds: 60
          args:
            - java
            - -XX:InitialRAMPercentage=$(JVM_INITIAL_RAM_PERCENT)
            - -XX:MaxRAMPercentage=$(JVM_MAX_RAM_PERCENT)
            - -javaagent:/app/config/elastic/elastic-apm-agent.jar
            - -jar
            - /app/app.jar
          env:
            - name: "SPRING_PROFILES_ACTIVE"
              value: "{{ .Values.channel.SPRING_PROFILES_ACTIVE }}"
            - name: "DFSPIDS"
              value: "{{ .Values.channel.DFSPIDS }}"
            - name: "TRANSACTION-ID-LENGTH"
              value: "{{ .Values.channel.TRANSACTION_ID_LENGTH }}"
            - name: "MPESA_NOTIFICATION_SUCCESS_ENABLED"
              value: "{{ .Values.notifications.NOTIFICATION_SUCCESS_ENABLED }}"
            - name: "MPESA_NOTIFICATION_FAILURE_ENABLED"
              value: "{{ .Values.notifications.NOTIFICATION_FAILURE_ENABLED }}"
            - name:  "LOGGING_LEVEL_ROOT"
              value: "{{ .Values.channel.LOGGING_LEVEL_ROOT }}"
            - name:  "CHANNEL_TENANTPRIMARY_TENANT"
              value: "{{ .Values.channel.tenantPrimary.tenant }}"
            - name:  "CHANNEL_TENANTPRIMARY_CLIENTID"
              value: "{{ .Values.channel.tenantPrimary.clientId }}"
            - name:  "CHANNEL_TENANTPRIMARY_CLIENTSECRET"
              value: "{{ .Values.channel.tenantPrimary.clientSecret }}"
            - name:  "OPERATIONS_URL"
              value: "{{ .Values.channel.operations.url }}"
            - name: "AMS"
              value: "{{ .Values.channel.AMS  }}"
            - name: "CALLBACK_URL_RESTRICT"
              value: "{{ .Values.channel.callbackUrl.restrict }}"
            - name: "CALLBACK_URL_ALLOWED_DOMAINS"
              value: "{{ .Values.channel.callbackUrl.allowedDomains }}"
            - name: SQUAD_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: "channel-secret"
                  key: "squad-secret-key"
            - name: SQUAD_AMS_IDENTIFIER
              value: "{{ .Values.channel.squad.amsIdentifier }}"
            - name: SQUAD_AMS_VALUE
              value: "{{ .Values.channel.squad.amsValue }}"
            - name: SQUAD_FLOW
              value: "{{ .Values.channel.squad.flow }}"
            - name: SQUAD_PAYER_ID_TYPE
              value: "{{ .Values.channel.squad.payerIdType }}"
            - name: SQUAD_SUCCESS_NOTIFICATIONS_ENABLED
              value: "{{ .Values.channel.squad.successNotificationsEnabled }}"
            - name: SQUAD_FAILURE_NOTIFICATIONS_ENABLED
              value: "{{ .Values.channel.squad.failureNotificationsEnabled }}"
            - name: SQUAD_BASE_URL
              value: "{{ .Values.channel.squad.baseUrl }}"
            - name: SQUAD_LOGS_ENDPOINT
              value: "{{ .Values.channel.squad.logsEndpoint }}"
            - name: SQUAD_LOGS_PAGE_SIZE
              value: "{{ .Values.channel.squad.logsPageSize }}"
            - name: SQUAD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "channel-secret"
                  key: "squad-token"
            - name: MONNIFY_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: "channel-secret"
                  key: "monnify-secret-key"
            - name: MONNIFY_AMS_IDENTIFIER
              value: "{{ .Values.channel.monnify.amsIdentifier }}"
            - name: MONNIFY_AMS_VALUE
              value: "{{ .Values.channel.monnify.amsValue }}"
            - name: MONNIFY_FLOW
              value: "{{ .Values.channel.monnify.flow }}"
            - name: MONNIFY_PAYER_ID_TYPE
              value: "{{ .Values.channel.monnify.payerIdType }}"
            - name: MONNIFY_SUCCESS_NOTIFICATIONS_ENABLED
              value: "{{ .Values.channel.monnify.successNotificationsEnabled }}"
            - name: MONNIFY_FAILURE_NOTIFICATIONS_ENABLED
              value: "{{ .Values.channel.monnify.failureNotificationsEnabled }}"
            - name: "PAYMENTSCHEMES"
              value: {{ .Values.channel.paymentSchemes | toJson | quote }}
            - name: "LOGGING_PATTERN_CONSOLE"
              value: "{{ .Values.channel.LOGGING_PATTERN_CONSOLE }}"
            {{- range $key, $value := .Values.channel.ams.groups }}
            - name: "{{ cat "AMS_GROUPS_" $key "__IDENTIFIER" | nospace }}"
              value: "{{ $value.identifier }}"
            - name: "{{ cat "AMS_GROUPS_" $key "__VALUE" | nospace }}"
              value: "{{ $value.value }}"
            {{- end }}
            - name: "AUTHENTICATION_API"
              value: "{{ .Values.channel.operations.endpoint.auth }}"
            - name: "AUTHENTICATION_EXPIRY_DEFAULT"
              value: "{{ .Values.channel.operations.authExpiryDefault }}"
            - name: "AUTHENTICATION_EXPIRY_BUFFER_DEFAULT"
              value: "{{ .Values.channel.operations.authExpiryBufferDefault }}"
            - name: JVM_INITIAL_RAM_PERCENT
              value: "{{ .Values.channel.JVM_INITIAL_RAM_PERCENT }}"
            - name: JVM_MAX_RAM_PERCENT
              value: "{{ .Values.channel.JVM_MAX_RAM_PERCENT }}"
            - name: ELASTIC_APM_SERVICE_NAME
              value: "{{ .Values.channel.APM_SERVICE_NAME }}"
            - name: ELASTIC_APM_SERVER_URLS
              value: "{{ .Values.elasticsearch.APM_SERVER_URLS }}"
            - name: ELASTIC_APM_SECRET_TOKEN
              value: "{{ .Values.elasticsearch.ELASTIC_APM_SECRET_TOKEN }}"
            - name: ELASTIC_APM_APPLICATION_PACKAGES
              value: "{{ .Values.channel.ELASTIC_APM_APPLICATION_PACKAGES }}"

---
{{- if .Values.channel.ingress.enabled }}
apiVersion: {{ .Values.ingress.apiversion }}
kind: Ingress
metadata:
  name: ph-ee-connector-channel
  annotations:
{{- if .Values.channel.ingress.annotations }}
{{ toYaml .Values.channel.ingress.annotations | indent 4 }}
{{- end }}
spec:
  rules:
    - host: "{{ .Values.channel.hostname }}"
      http:
        paths:
        - path: "{{ .Values.channel.ingress.path }}"
          pathType: Prefix
          backend:
{{- if .Values.channel.ingress.backend }}
{{ toYaml .Values.channel.ingress.backend | indent 14 }}
{{- end }}

  tls:
    - hosts:
        - "{{ .Values.wildcardhostname }}"
      secretName: "{{ .Values.tls }}"
{{- end }}
---
{{- if .Values.channel.ingress.enabled }}
apiVersion: {{ .Values.ingress.apiversion }}
kind: Ingress
metadata:
  name: ph-ee-connector-channel-gsma
  annotations:
{{- if .Values.channel.ingress.annotations }}
{{ toYaml .Values.channel.ingress.annotations | indent 4 }}
{{- end }}
spec:
  rules:
    - host: "{{ .Values.channel.stub_hostname }}"
      http:
        paths:
        - path: "{{ .Values.channel.ingress.path }}"
          pathType: Prefix
          backend:
{{- if .Values.channel.ingress.backend }}
{{ toYaml .Values.channel.ingress.stub_backend | indent 14 }}
{{- end }}

  tls:
    - hosts:
        - "{{ .Values.wildcardhostname }}"
      secretName: "{{ .Values.tls }}"
{{- end }}
---
apiVersion: {{ .Values.service.apiversion }}
kind: Service
metadata:
  labels:
    app: ph-ee-connector-channel
  name: ph-ee-connector-channel
spec:
  ports:
    - name: port
      port: 80
      protocol: TCP
      targetPort: 8080
    - name: http
      port: 82
      protocol: TCP
      targetPort: 8080
  selector:
    app: ph-ee-connector-channel
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: v1
kind: Secret
metadata:
  name: channel-secret
type: Opaque
data:
  squad-secret-key: {{ .Values.channel.squad.secretKey | b64enc }}
  monnify-secret-key: {{ .Values.channel.monnify.secretKey | b64enc }}
  squad-token: {{ .Values.channel.squad.token | b64enc }}

  {{- end }}